


#passwordStrength

{width:210px;

        height:8px;

        display:block;

        float:left;

}



.strength0 

{

        width:210px;

        background:#cccccc;

}



.strength1

{

        width:55px;

        background:#ff0000;

}



.strength2

{

        width:100px;    

        background:#ff7f7f;

}



.strength3

{

        width:130px;

        background:#56e722;

}



.strength4

{

        background:#4dcd22;

        width:175px;

}



.strength5

{

        background:#399822;

        width:210px;

}

