<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visualCrypto</display-name>
  <welcome-file-list>
    <welcome-file>encrustation.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorPage.jsp?error=java</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp?error=404%20File%20Not%20Found</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp?error=500%20File%20Not%20executable</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errorPage.jsp?error=405%20wrong%20method%20used</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginDAO</display-name>
    <servlet-name>LoginDAO</servlet-name>
    <servlet-class>org.visualCrypto.LoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDAO</servlet-name>
    <url-pattern>/LoginDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginDAO</display-name>
    <servlet-name>loginDAO</servlet-name>
    <servlet-class>org.visualCrypto.LoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginDAO</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EncriptionDAO</display-name>
    <servlet-name>EncriptionDAO</servlet-name>
    <servlet-class>org.visualCrypto.EncriptionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncriptionDAO</servlet-name>
    <url-pattern>/encription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDao</display-name>
    <servlet-name>RegistrationDao</servlet-name>
    <servlet-class>org.visualCrypto.RegistrationDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDao</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>org.visualCrypto.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToDecrypt</display-name>
    <servlet-name>GoToDecrypt</servlet-name>
    <servlet-class>org.visualCrypto.GoToDecryptDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToDecrypt</servlet-name>
    <url-pattern>/GoToDecrypt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutDAO</display-name>
    <servlet-name>SignoutDAO</servlet-name>
    <servlet-class>org.visualCrypto.SignoutDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutDAO</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecryptionDAO</display-name>
    <servlet-name>DecryptionDAO</servlet-name>
    <servlet-class>org.visualCrypto.DecryptionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecryptionDAO</servlet-name>
    <url-pattern>/Decryption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserDAO</display-name>
    <servlet-name>CheckUserDAO</servlet-name>
    <servlet-class>org.visualCrypto.CheckUserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserDAO</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDAO</display-name>
    <servlet-name>UploadDAO</servlet-name>
    <servlet-class>org.visualCrypto.UploadDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDAO</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDAO</display-name>
    <servlet-name>TestDAO</servlet-name>
    <servlet-class>org.visualCrypto.TestDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDAO</servlet-name>
    <url-pattern>/testDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPass</display-name>
    <servlet-name>ForgotPass</servlet-name>
    <servlet-class>org.visualCrypto.ForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPass</servlet-name>
    <url-pattern>/forgotPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordEmail</display-name>
    <servlet-name>ForgotPasswordEmail</servlet-name>
    <servlet-class>org.visualCrypto.ForgotPasswordEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordEmail</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageBack</display-name>
    <servlet-name>UploadImageBack</servlet-name>
    <servlet-class>org.visualCrypto.UploadImageBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageBack</servlet-name>
    <url-pattern>/UploadImageBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailTheImages</display-name>
    <servlet-name>EmailTheImages</servlet-name>
    <servlet-class>org.visualCrypto.EmailTheImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailTheImages</servlet-name>
    <url-pattern>/EmailTheImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountActivationDao</display-name>
    <servlet-name>AccountActivationDao</servlet-name>
    <servlet-class>org.visualCrypto.AccountActivationDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountActivationDao</servlet-name>
    <url-pattern>/AccountActivationDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexLoginDAO</display-name>
    <servlet-name>IndexLoginDAO</servlet-name>
    <servlet-class>org.visualCrypto.IndexLoginDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexLoginDAO</servlet-name>
    <url-pattern>/IndexLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index1</display-name>
    <servlet-name>index1</servlet-name>
    <servlet-class>org.visualCrypto.index1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index1</servlet-name>
    <url-pattern>/index1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>org.visualCrypto.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDOB</display-name>
    <servlet-name>UpdateDOB</servlet-name>
    <servlet-class>org.visualCrypto.UpdateDOB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDOB</servlet-name>
    <url-pattern>/UpdateDOB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateName</display-name>
    <servlet-name>UpdateName</servlet-name>
    <servlet-class>org.visualCrypto.UpdateName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateName</servlet-name>
    <url-pattern>/UpdateName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCountry</display-name>
    <servlet-name>UpdateCountry</servlet-name>
    <servlet-class>org.visualCrypto.UpdateCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCountry</servlet-name>
    <url-pattern>/UpdateCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSettings</display-name>
    <servlet-name>AccountSettings</servlet-name>
    <servlet-class>org.visualCrypto.AccountSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettings</servlet-name>
    <url-pattern>/AccountSettings</url-pattern>
  </servlet-mapping>
</web-app>